html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Merriweather-Bold";
  src: url("../fonts/Merriweather-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Merriweather-Regular";
  src: url("../fonts/Merriweather-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

.modal-wrap {
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(117, 117, 117, 0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s linear;
  transition: all .5s linear; }
  .modal-wrap.show {
    opacity: 1;
    visibility: visible; }

.modal-main {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  diplay: block !important; }

.container-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.modal-desc {
  width: 50%;
  background-color: #fff;
  padding: 20px 45px; }

.modal-back {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: #b18184;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: .2px; }

.modal-desc-title {
  color: #891313;
  text-align: center;
  line-height: .8;
  letter-spacing: .5px;
  font-size: 36px;
  font-family: "Merriweather-Bold", serif;
  margin: 0 0 25px; }

.modal-desc-subtitle {
  color: #3f3f3f;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: -0.6px;
  margin: 0 0 30px 0; }

.modal-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.modal-input {
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-height: 59px;
  height: 100%;
  padding: 15px 20px;
  margin: 0 0px 28px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #888888; }

.modalbutton {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: #891313;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 15px 0;
  min-width: 290px;
  width: 100%;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid transparent;
  -webkit-transition: all .5s linear;
  transition: all .5s linear; }
  .modalbutton:hover {
    border: 1px solid #891313;
    background-color: transparent;
    color: #891313; }

.main-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  -webkit-perspective: 2560px;
          perspective: 2560px;
  z-index: 10002;
  background-color: rgba(39, 45, 56, 0.5);
  display: none; }
  .main-loader.active {
    display: block; }
  .main-loader .helix {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 50%; }
  .main-loader .helix > div {
    width: 100px;
    height: 20px;
    margin: auto;
    position: relative;
    animation: revolve 2s reverse linear infinite;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform-origin: center center 0;
            transform-origin: center center 0; }
    .main-loader .helix > div:after, .main-loader .helix > div:before {
      content: '';
      height: 20px;
      width: 20px;
      border-radius: 100%;
      background: red;
      position: absolute;
      -webkit-animation: revolve 2s linear infinite;
              animation: revolve 2s linear infinite; }
    .main-loader .helix > div:before {
      left: 0;
      background: #ff6666; }
    .main-loader .helix > div:after {
      right: 0;
      background: #6666ff; }
    .main-loader .helix > div:nth-child(1) {
      -webkit-animation-delay: 0.15s;
              animation-delay: 0.15s; }
      .main-loader .helix > div:nth-child(1):before, .main-loader .helix > div:nth-child(1):after {
        -webkit-animation-delay: 0.15s;
                animation-delay: 0.15s; }
    .main-loader .helix > div:nth-child(2) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
      .main-loader .helix > div:nth-child(2):before, .main-loader .helix > div:nth-child(2):after {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
    .main-loader .helix > div:nth-child(3) {
      -webkit-animation-delay: 0.45s;
              animation-delay: 0.45s; }
      .main-loader .helix > div:nth-child(3):before, .main-loader .helix > div:nth-child(3):after {
        -webkit-animation-delay: 0.45s;
                animation-delay: 0.45s; }
    .main-loader .helix > div:nth-child(4) {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
      .main-loader .helix > div:nth-child(4):before, .main-loader .helix > div:nth-child(4):after {
        -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s; }
    .main-loader .helix > div:nth-child(5) {
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s; }
      .main-loader .helix > div:nth-child(5):before, .main-loader .helix > div:nth-child(5):after {
        -webkit-animation-delay: 0.75s;
                animation-delay: 0.75s; }
    .main-loader .helix > div:nth-child(6) {
      -webkit-animation-delay: 0.9s;
              animation-delay: 0.9s; }
      .main-loader .helix > div:nth-child(6):before, .main-loader .helix > div:nth-child(6):after {
        -webkit-animation-delay: 0.9s;
                animation-delay: 0.9s; }
    .main-loader .helix > div:nth-child(7) {
      -webkit-animation-delay: 1.05s;
              animation-delay: 1.05s; }
      .main-loader .helix > div:nth-child(7):before, .main-loader .helix > div:nth-child(7):after {
        -webkit-animation-delay: 1.05s;
                animation-delay: 1.05s; }
    .main-loader .helix > div:nth-child(8) {
      -webkit-animation-delay: 1.2s;
              animation-delay: 1.2s; }
      .main-loader .helix > div:nth-child(8):before, .main-loader .helix > div:nth-child(8):after {
        -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s; }
    .main-loader .helix > div:nth-child(9) {
      -webkit-animation-delay: 1.35s;
              animation-delay: 1.35s; }
      .main-loader .helix > div:nth-child(9):before, .main-loader .helix > div:nth-child(9):after {
        -webkit-animation-delay: 1.35s;
                animation-delay: 1.35s; }
    .main-loader .helix > div:nth-child(10) {
      -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s; }
      .main-loader .helix > div:nth-child(10):before, .main-loader .helix > div:nth-child(10):after {
        -webkit-animation-delay: 1.5s;
                animation-delay: 1.5s; }
    .main-loader .helix > div:nth-child(11) {
      -webkit-animation-delay: 1.65s;
              animation-delay: 1.65s; }
      .main-loader .helix > div:nth-child(11):before, .main-loader .helix > div:nth-child(11):after {
        -webkit-animation-delay: 1.65s;
                animation-delay: 1.65s; }
    .main-loader .helix > div:nth-child(12) {
      -webkit-animation-delay: 1.8s;
              animation-delay: 1.8s; }
      .main-loader .helix > div:nth-child(12):before, .main-loader .helix > div:nth-child(12):after {
        -webkit-animation-delay: 1.8s;
                animation-delay: 1.8s; }
    .main-loader .helix > div:nth-child(13) {
      -webkit-animation-delay: 1.95s;
              animation-delay: 1.95s; }
      .main-loader .helix > div:nth-child(13):before, .main-loader .helix > div:nth-child(13):after {
        -webkit-animation-delay: 1.95s;
                animation-delay: 1.95s; }
    .main-loader .helix > div:nth-child(14) {
      -webkit-animation-delay: 2.1s;
              animation-delay: 2.1s; }
      .main-loader .helix > div:nth-child(14):before, .main-loader .helix > div:nth-child(14):after {
        -webkit-animation-delay: 2.1s;
                animation-delay: 2.1s; }
    .main-loader .helix > div:nth-child(15) {
      -webkit-animation-delay: 2.25s;
              animation-delay: 2.25s; }
      .main-loader .helix > div:nth-child(15):before, .main-loader .helix > div:nth-child(15):after {
        -webkit-animation-delay: 2.25s;
                animation-delay: 2.25s; }

@-webkit-keyframes revolve {
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); }
  to {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); } }

@keyframes revolve {
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); }
  to {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); } }

.content {
  padding: 50px 0; }

.personal-btn-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0 25px; }

.personal-btn-item.btn {
  margin: 0;
  color: #891313;
  border: 1px solid #891313;
  background-color: transparent; }
  .personal-btn-item.btn.active {
    background-color: #891313;
    color: #fff; }

.header-nav.personal {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: auto; }

.info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

.info-item {
  display: inline-block;
  margin: 0px 20px; }

.personal-logout-img {
  max-height: 25px;
  display: inline-block; }

.personal.header-nav-btn {
  width: 90px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.info-mob {
  display: none; }

.books-btn.personal {
  margin: 10px  0; }

.personal-input-search {
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-height: 59px;
  height: 100%;
  padding: 8px 15px;
  margin: 0 0px 28px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #000; }

.test-page-content {
  padding: 0 0 25px;
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s linear;
  transition: all .5s linear; }
  .test-page-content.active {
    visibility: visible;
    opacity: 1;
    display: block; }

.test-page-conten-search {
  font-size: 16px;
  font-family: "Open Sans", sans-serif; }

.test-page-conten-search-a {
  padding: 0px 0px 0 15px;
  display: block;
  position: relative;
  margin: 5px 0 15px;
  background-color: rgba(0, 153, 0, 0.5); }
  .test-page-conten-search-a::before {
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #009900;
    position: absolute;
    left: 0;
    top: 6px; }

.test-page-conten-search-q {
  display: block; }

.test-page-content-test-q {
  padding: 15px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

.test-page-content-li {
  padding: 7px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

.test-page-content-li.green {
  background-color: rgba(0, 153, 0, 0.5); }

.test-page-content-li.red {
  background-color: rgba(247, 2, 2, 0.5); }

.personal-btn-items.under {
  padding: 30px 0 0; }

#myInput {
  padding: 20px;
  margin-top: -6px;
  border: 0;
  border-radius: 0;
  background: #f1f1f1; }

.dropdown-menu-ul {
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif; }

.dropdown-toggle-btn {
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 7px 0; }

.dropdown-title {
  color: #000;
  font-size: 18px;
  padding: 5px 0;
  font-family: "Montserrat", sans-serif; }

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

section {
  max-width: 100%;
  width: 100vw; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #fffefa; }

body.hidden-main {
  overflow: hidden; }

.btn {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: #891313;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 15px 0;
  min-width: 290px;
  border-radius: 5px;
  margin: 0 25px;
  border: 1px solid transparent;
  -webkit-transition: all .5s linear;
  transition: all .5s linear; }
  .btn:hover {
    border: 1px solid #891313;
    background-color: transparent;
    color: #891313; }

.btn-s {
  padding: 8px 0; }

.header {
  background-color: #29140A;
  padding: 15px 0;
  z-index: 10; }

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-logo {
  color: #fff;
  font-size: 48px;
  font-family: "Dancing Script", cursive;
  display: block; }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 250px;
  width: 100%; }

.header-nav-btn {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  position: relative; }
  .header-nav-btn::after {
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    position: absolute;
    width: 0%;
    height: 2px;
    content: '';
    bottom: -5px;
    left: 0;
    background-color: #fff; }
  .header-nav-btn:hover::after {
    width: 100%; }

.nav-mob {
  display: none; }

.header.main {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.header.main.open {
  background-color: #29140A;
  z-index: 1111;
  position: fixed; }

.nav-mob-humburger {
  display: none; }

.footer {
  padding: 20px 0;
  border-top: 1px solid #29140A;
  background-color: #29140A; }

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7f7f7f;
  font-size: 16px;
  font-family: "Montserrat", sans-serif; }

.footer-desc {
  max-width: 255px;
  width: 100%;
  line-height: 1.8;
  letter-spacing: .2px; }

.footer-addres {
  max-width: 272px;
  width: 100%;
  line-height: 1.8;
  letter-spacing: .2px; }

.footer-phone {
  max-width: 150px;
  width: 100%;
  line-height: 1.8;
  letter-spacing: .2px; }
  .footer-phone a {
    color: #7f7f7f; }
  .footer-phone span {
    color: #b28d8d; }

.footer-sm {
  max-width: 150px;
  width: 100%;
  line-height: 1.8; }

.footer-fb-link {
  display: block;
  color: #475993; }

.footer-insta-link {
  color: #7f7f7f; }

.footer.test-page {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0; }

.index {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  background: url(../img/index-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .index:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

.index-text {
  height: 100vh;
  padding: 70px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F4F5D3;
  font-family: "Merriweather-Bold", serif;
  width: 100%;
  max-height: 100%;
  z-index: 1;
  font-size: 56px;
  text-align: center;
  line-height: 1.2; }

.index-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.index-desc {
  padding: 150px 0; }

.index-desc-title {
  text-align: center;
  width: 100%;
  padding: 0px 0 50px;
  color: #000;
  font-family: "Merriweather-Bold", serif;
  font-size: 56px; }

.index-desc-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  padding: 0 0 50px; }

.index-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.advantage-title {
  text-align: center;
  width: 100%;
  padding: 0px 0 50px;
  color: #000;
  font-family: "Merriweather-Bold", serif;
  font-size: 56px; }

.advantage-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 150px; }

.advantage-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justif-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%; }

.advantage-item-img {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .advantage-item-img img {
    max-width: 100%;
    height: auto; }

.advantage-item-desc {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #000;
  text-align: center;
  line-height: 1.5; }

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-nav-btn {
  display: block;
  margin: 0 15px; }

.books {
  padding: 0 0 150px; }

.books-title {
  font-size: 56px;
  font-family: "Merriweather-Bold", serif;
  color: #000;
  text-align: center;
  width: 100%;
  padding: 0 0 50px; }

.books-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  algn-items: center; }

.books-item {
  width: 30%;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  padding: 20px; }

.books-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 10px; }
  .books-item-img img {
    max-width: 100%;
    height: auto; }

.books-item-title {
  font-size: 24px;
  margin: 0 0 10px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  letter-spacing: .5px; }

.books-item-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 10px; }

.books-btn {
  margin: 0 auto;
  min-width: 80%;
  width: 100%;
  text-transform: uppercase; }

@media all and (max-width: 1024px) {
  .personal-btn-items {
    padding: 120px 0 0; }
  .personal-btn-item.btn {
    min-width: 210px; }
  .modal-desc {
    width: 70%; }
  .books-item {
    width: 32%;
    padding: 15px; }
  .header {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0; }
  .header-nav {
    display: none; }
  .header-fb {
    display: none; }
  .header-logo {
    margin: 0 0 0 auto; }
  .nav-mob-huburger-span {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-transition: all .5s linear;
    transition: all .5s linear; }
  .nav-mob-humburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30px;
    margin: 0 0 0 auto;
    position: relative; }
    .nav-mob-humburger.open .nav-mob-huburger-span:nth-child(2) {
      width: 0; }
    .nav-mob-humburger.open .nav-mob-huburger-span:nth-child(1) {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .nav-mob-humburger.open .nav-mob-huburger-span:nth-child(3) {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .nav-mob {
    display: block;
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s linear;
    transition: all .5s linear; }
    .nav-mob.open {
      visibility: visible;
      opacity: 1; }
  .nav-mob-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 70%;
    margin: 15% 0;
    text-align: center; }
  .header-nav-btn-mob {
    color: #000;
    font-size: 16px;
    font-family: "Montserrat-Bold", sans-serif;
    letter-spacing: 1px;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    margin: 20px 0; }
    .header-nav-btn-mob.active {
      color: #ffd0a8; }
  .personal-input-search {
    margin: 20px 0 15px; } }

@media all and (max-width: 768px) {
  .index-text {
    font-size: 32px;
    max-width: 560px;
    width: 100%; }
  .index-desc-title, .advantage-title, .books-title {
    font-size: 32px; }
  .advantage-items {
    padding: 0 0 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .advantage-item {
    width: 100%;
    margin: 20px 0; }
  .index-desc {
    padding: 80px 0; }
  .index-desc-subtitle {
    text-align: center; }
  .books {
    padding: 0 0 100px; }
  .books-item {
    width: 45%;
    margin: 15px 0 0; }
  .info {
    display: none; }
  .info-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .header-logo {
    font-size: 32px; }
  .footer {
    padding: 10px 0; }
  .personal-btn-items {
    padding: 90px 0 0px; } }

@media all and (max-width: 667px) {
  .books-item {
    width: 100%;
    margin: 15px 0 0; }
  .btn-create, .btn-callback {
    min-width: 215px;
    margin: 0 10px; }
  .modal-desc {
    width: 100%; }
  .personal-btn-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .personal-btn-item.btn {
    margin: 10px 0; }
  .personal-btn-item.btn-s {
    margin: 7px 0; } }

@media all and (max-width: 480px) {
  .info-item {
    margin: 10px auto; }
  .index-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .btn {
    min-width: 100%;
    margin: 15px auto; }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header-nav-btn {
    margin: 10px auto; }
  .modal-desc-title {
    font-size: 28px; }
  .modal-desc {
    padding: 15px 20px; }
  .modal-desc-subtitle {
    font-size: 18px; }
  .modalbutton {
    min-width: 100%; }
  .modal-input {
    margin: 0 0 18px; }
  .footer-wrap.test-page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }
