.main-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  -webkit-perspective: 2560px;
          perspective: 2560px;
  z-index: 10002;
  background-color: rgba(39, 45, 56, 0.5);
  display: none;
}

.main-loader.active {
  display: block;
}

.main-loader .helix {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 50%;
}

.main-loader .helix > div {
  width: 100px;
  height: 20px;
  margin: auto;
  position: relative;
  animation: revolve 2s reverse linear infinite;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center center 0;
          transform-origin: center center 0;
}

.main-loader .helix > div:after,
.main-loader .helix > div:before {
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: red;
  position: absolute;
  -webkit-animation: revolve 2s linear infinite;
          animation: revolve 2s linear infinite;
}

.main-loader .helix > div:before {
  left: 0;
  background: #ff6666;
}

.main-loader .helix > div:after {
  right: 0;
  background: #6666ff;
}

.main-loader .helix > div:nth-child(1) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.main-loader .helix > div:nth-child(1):before,
.main-loader .helix > div:nth-child(1):after {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.main-loader .helix > div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.main-loader .helix > div:nth-child(2):before,
.main-loader .helix > div:nth-child(2):after {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.main-loader .helix > div:nth-child(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.main-loader .helix > div:nth-child(3):before,
.main-loader .helix > div:nth-child(3):after {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.main-loader .helix > div:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.main-loader .helix > div:nth-child(4):before,
.main-loader .helix > div:nth-child(4):after {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.main-loader .helix > div:nth-child(5) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.main-loader .helix > div:nth-child(5):before,
.main-loader .helix > div:nth-child(5):after {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.main-loader .helix > div:nth-child(6) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.main-loader .helix > div:nth-child(6):before,
.main-loader .helix > div:nth-child(6):after {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.main-loader .helix > div:nth-child(7) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.main-loader .helix > div:nth-child(7):before,
.main-loader .helix > div:nth-child(7):after {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.main-loader .helix > div:nth-child(8) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.main-loader .helix > div:nth-child(8):before,
.main-loader .helix > div:nth-child(8):after {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.main-loader .helix > div:nth-child(9) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

.main-loader .helix > div:nth-child(9):before,
.main-loader .helix > div:nth-child(9):after {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

.main-loader .helix > div:nth-child(10) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.main-loader .helix > div:nth-child(10):before,
.main-loader .helix > div:nth-child(10):after {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.main-loader .helix > div:nth-child(11) {
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s;
}

.main-loader .helix > div:nth-child(11):before,
.main-loader .helix > div:nth-child(11):after {
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s;
}

.main-loader .helix > div:nth-child(12) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.main-loader .helix > div:nth-child(12):before,
.main-loader .helix > div:nth-child(12):after {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.main-loader .helix > div:nth-child(13) {
  -webkit-animation-delay: 1.95s;
          animation-delay: 1.95s;
}

.main-loader .helix > div:nth-child(13):before,
.main-loader .helix > div:nth-child(13):after {
  -webkit-animation-delay: 1.95s;
          animation-delay: 1.95s;
}

.main-loader .helix > div:nth-child(14) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.main-loader .helix > div:nth-child(14):before,
.main-loader .helix > div:nth-child(14):after {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.main-loader .helix > div:nth-child(15) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

.main-loader .helix > div:nth-child(15):before,
.main-loader .helix > div:nth-child(15):after {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

@-webkit-keyframes revolve {
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }

  to {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@keyframes revolve {
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }

  to {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

.content {
  padding: 50px 0;
}

.personal-btn-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0 25px;
}

.personal-btn-item.btn {
  margin: 0;
  color: #891313;
  border: 1px solid #891313;
  background-color: transparent;
}

.personal-btn-item.btn.active {
  background-color: #891313;
  color: #fff;
}

.header-nav.personal {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: auto;
}

.info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.info-item {
  display: inline-block;
  margin: 0px 20px;
}

.personal-logout-img {
  max-height: 25px;
  display: inline-block;
}

.personal.header-nav-btn {
  width: 90px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-mob {
  display: none;
}

.books-btn.personal {
  margin: 10px  0;
}

.personal-input-search {
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-height: 59px;
  height: 100%;
  padding: 8px 15px;
  margin: 0 0px 28px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #000;
}

.test-page-content {
  padding: 0 0 25px;
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.test-page-content.active {
  visibility: visible;
  opacity: 1;
  display: block;
}

.test-page-conten-search {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.test-page-conten-search-a {
  padding: 0px 0px 0 15px;
  display: block;
  position: relative;
  margin: 5px 0 15px;
  background-color: rgba(0, 153, 0, 0.5);
}

.test-page-conten-search-a::before {
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #009900;
  position: absolute;
  left: 0;
  top: 6px;
}

.test-page-conten-search-q {
  display: block;
}

.test-page-content-test-q {
  padding: 15px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.test-page-content-li {
  padding: 7px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.test-page-content-li.green {
  background-color: rgba(0, 153, 0, 0.5);
}

.test-page-content-li.red {
  background-color: rgba(247, 2, 2, 0.5);
}

.personal-btn-items.under {
  padding: 30px 0 0;
}

#myInput {
  padding: 20px;
  margin-top: -6px;
  border: 0;
  border-radius: 0;
  background: #f1f1f1;
}

.dropdown-menu-ul {
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.dropdown-toggle-btn {
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 7px 0;
}

.dropdown-title {
  color: #000;
  font-size: 18px;
  padding: 5px 0;
  font-family: "Montserrat", sans-serif;
}

