

$fz14: 14px
$fz16: 16px
$fz32: 32px
$fz64: 64px
$fz12: 12px
$fz18: 18px
$c-fff: #fff
$ffmon: 'Montserrat', sans-serif
$ffmon-b: 'Montserrat-Bold', sans-serif
$ffmer-b: 'Merriweather-Bold', serif
$ffos: 'Open Sans', sans-serif
$ffd: 'Dancing Script', cursive
$c-b18184: #b18184
$c-red: #891313
$c-brwon: #29140A
$fz24: 24px
$fz48: 48px
$fz36: 36px
$fz56: 56px


///////////loader/////////
$primary: #FAF3DD
$secondary: #68B0AB
$accent: #8FC0A9

$height: 20px
$width: 100px
$animation-delay: 0.15
$animation: 2s
$size: 20px




.main-loader
	width: 100%
	height: 100%
	position: fixed
	left: 50%
	top: 50%
	transform: translate(-50%,-50%)
	font-size: 15px
	perspective: 2560px
	z-index: 10002
	background-color: rgba(39, 45, 56, .5)
	display: none
	&.active
		display: block
	.helix
		position: absolute
		top: 30%
		left: 0
		width: 100%
		height: 50%
	.helix > div
		width: $width
		height: $height
		margin: auto
		position: relative
		animation: revolve $animation reverse linear infinite
		transform-style: preserve-3d
		transform-origin: center center 0
		&:after, &:before
			content: ''
			height: $size 
			width: $size 
			border-radius: 100%
			background: red
			position: absolute
			animation: revolve $animation  linear infinite
		&:before
			left: 0
			background: #ff6666
		&:after
			right: 0
			background: #6666ff
		@for $i from 1 through 15
			&:nth-child(#{$i})
				animation-delay: #{$i * $animation-delay}s
				&:before,&:after
					animation-delay: #{$i * $animation-delay}s

@keyframes revolve
	from
		transform: rotateY(360deg)
	to
		transform: rotateY(0)

//////////////////////////////////
.content
	padding: 50px 0
.personal-btn-items
	display: flex
	justify-content: space-between
	padding: 75px 0 25px
.personal-btn-item.btn
	margin: 0
	color: $c-red
	border: 1px solid $c-red
	background-color: transparent
	&.active
		background-color: $c-red
		color: #fff
.header-nav.personal
	justify-content: flex-end
	width: auto
.info
	width: 100%
	display: flex
	justify-content: flex-end
	align-items: center
	color: #fff
	font-family: $ffmon
	font-size: $fz16
.info-item
	display: inline-block
	margin: 0px 20px
.personal-logout-img
	max-height: 25px
	display: inline-block
.personal.header-nav-btn
	width: 90px
	margin: 0
	display: flex
	justify-content: space-between
	align-items: center
.info-mob
	display: none
.books-btn.personal
	margin: 10px  0
.personal-input-search
	border: 2px solid #ddd
	border-radius: 5px
	width: 100%
	max-height: 59px
	height: 100%
	padding: 8px 15px
	margin: 0 0px 28px 
	outline: none
	font-family: $ffmon
	font-size: $fz18
	color: #000
.test-page-content
	padding: 0 0 25px
	display: none
	visibility: hidden
	opacity: 0
	transition: all .5s linear
	&.active
		visibility: visible
		opacity: 1
		display: block
.test-page-conten-search
	font-size: $fz16
	font-family: $ffos
.test-page-conten-search-a
	padding: 0px 0px 0 15px
	display: block
	position: relative
	margin: 5px 0 15px
	background-color: rgba(0, 153, 0, .5)
	&::before
		display: inline-block
		content: ''
		width: 8px
		height: 8px
		border-radius: 100%
		background-color: #009900
		position: absolute
		left: 0
		top: 6px
.test-page-conten-search-q
	display: block
.test-page-content-test-q
	padding: 15px 0
	font-family: $ffos
	font-size: $fz18
.test-page-content-li
	padding: 7px 0
	font-family: $ffos
	font-size: $fz16
.test-page-content-li.green
	background-color: rgba(0, 153, 0, 0.5)
.test-page-content-li.red
	background-color: rgba(247, 2, 2, .5)
.personal-btn-items.under
	padding: 30px 0 0
#myInput 
	padding: 20px
	margin-top: -6px
	border: 0
	border-radius: 0
	background: #f1f1f1
.dropdown-menu-ul
	width: 100%
	font-size: $fz16
	font-family: $ffmon
.dropdown-toggle-btn
	width: 100%
	font-size: $fz16
	font-family: $ffmon
	padding: 7px 0
.dropdown-title
	color: #000
	font-size: $fz18
	padding: 5px 0
	font-family: $ffmon